# Ignore input, output, result, and difference files
*.in
*.out
*.res
*.dif
test*

# Ignore VSCode workspace and settings files
.vscode/
*.code-workspace

# Ignore Makefiles and related files
Makefile
makefile
GNUmakefile

# Ignore other build and temporary files
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib
*.log
*.tmp
*.swp
*.bak
*.~*
*.h
# Ignore compiled binary files
bin/
build/

# Ignore any other system-specific or IDE-related files
.DS_Store
Thumbs.db
midterms/kol_24/kolokvij1a/kolokvij1a_skritiTesti/naloga1/naloga1
midterms/kol_23/kolokvij1a/naloga3/naloga3
midterms/kol_23/kolokvij1a/naloga2/naloga2
midterms/kol_23/kolokvij1a/naloga1/naloga1
homework/h2/.bash_profile
homework/h2/.git-completion.bash
homework/h4/DN04a_63230372
homework/h2/dn02_testi/naloga2/DN02b
homework/h4/generator.py
